# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Poetry lock/cache
.poetry/
*.lock~

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Docker
Dockerfile
docker-compose*.yml
docker/
entrypoint.sh

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Files generated at runtime
*.db
*.sqlite3
*.png
*.jpg
*.jpeg

# Environment vars
.env
.env.*

# State files
*.pid
*.seed

